[submodule "Plugins/GoogleTest"]
    path = Plugins/GoogleTest
    url = https://github.com/NansPellicari/UE4-GoogleTest.git
[submodule "Plugins/NansCoreHelpers"]
	path = Plugins/NansCoreHelpers
	url = https://github.com/NansPellicari/UE4-CoreHelpers.git
[submodule "Plugins/NansUE4TestsHelpers"]
	path = Plugins/NansUE4TestsHelpers
	url = https://github.com/NansPellicari/UE4-TestsHelpers.git
